footer{
   background: black;
   color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 40px;

}
   

.media{
    display: flex;

}
.media>a{
width: 70px;
height: 70px;
}

.link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.link>a{
    display: flex;
    
   color: white;
    text-decoration: none;
    font-family: $fontA;
}

.link>img{
    width: 60%;
    margin-top: 10%;
}