header{

    background: url(../images/mobile/image-hero.jpg) no-repeat center/cover;
  
    height: 101vh;
    display: flex;
    
    flex-direction: column;
    
  
}



img{
    width: 40%;
    object-fit: contain;
}

.head{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.text{
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid white;
    width: 60%;
    
    text-align: center;

}