body{
    margin: 0;
    padding: 0;
    border: border-box;
   width: 100%;
  
      
 }

html {
   
    scroll-behavior: smooth;
}

h1,h2,figcaption{
    font-family: $fontJ;
    font-weight: lighter;
}